* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.main-container {
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
}
.main-container .header {
    text-align: center;
}
.main-container .header h3 {
    margin-top: 0.5rem;
}
.main-container .labs-list {
    margin-top: 3rem;
}
.main-container .labs-list li {
    line-height: 25px;
}
.main-container .labs-list a {
    text-decoration: none;
    color: black;
}
